* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Finger Paint', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    color: white;
    font-size: 10vmin;
    text-align: center;
    letter-spacing: .1vmin;
    font-weight: bold;
    margin-top: -11vmin;
}

h1 {
    color: wheat;
    font-size: 5vmin;
    text-align: center;
    margin-top: -1vmin;
}

main {
    background-color: #12181B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 450px;
    margin-top: 5vmin;
}

.box {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 150px;
   width: 150px;
   font-size: 120px;
   color: grey;
   border-right: 5px solid;
   border-bottom: 5px solid;
}

 /* for each 3rd child in the box class it's going to get rid of the border */
.box:nth-child(3n) {
    border-right: none;;
}

/* count up to 6 div and every other div that has this box class after the 6 one remove the border */
.box:nth-child(6) ~ .box {
    border-bottom: none;;
}

#x-score {
    color: white;
    font-size: 2.5vmin;
    text-align: center;
    letter-spacing: .1vmin;
    font-weight: bold;
    margin-top: -2vmin;
}

#o-score {
    color: white;
    font-size: 2.5vmin;
    text-align: center;
    letter-spacing: .1vmin;
    font-weight: bold;
    margin-top: -.5vmin;
}

#startBtn {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    margin-top: 4vmin;
    color: grey;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 200ms transform;
}

#restartBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 20px;
}

#restartBtn:hover {
    background-color: rgb(99, 98, 89);
}

#musicBtn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

#musicBtn:hover {
    background-color: rgb(226, 212, 253);
}
